.items-tbl {
    border-collapse: collapse;
}

.items-tbl th {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 5px 5px;
}

.items-tbl th:last-child {
    background-color: transparent;
    border: 0;
}

.items-tbl td {
    border: 1px solid black;
    padding: 5px 5px;
}

.items-tbl td:last-child {
    border: 0;
}

.action-btn {
    border: 0;
    background-color: black;
    color: white;
    font-weight: bold;
}

.storage-ctrl-cnt {
    margin-top: 10px;
}
